html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h4,
.techIcons {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  flex:1;
}

.techIcons {
  display: flex;
  justify-content: space-around;
  max-width: 90px;
}

a {
  color: #5a5b5d;
  text-decoration: none;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

a:hover {
  color: #212122;
}

img {
  max-width: 100%;
  display: block;
}


.card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: all 0.4s ease, border-color 0.15s ease;
  }

  .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    transform: translateY(-10px);
  }

  .cardHeader {
    display: flex;
    justify-content: space-between;
  }

  .card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  .card p {
    margin: 0;
    font-size: .95rem;
    line-height: 1.8;
  }

  .cardFooter {
    display:flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .cardButton {
    padding: 6px 16px;
    background: transparent;
    border-radius: 5px;
    min-width: 100px;
    text-align: center;
    transition: all .3s ease-in-out;
    cursor: pointer;
  }

  .cardButton:hover {
    color: white;
    background: #5c95ac ;
  }
